<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Forgot password</h1>
<p>
  Привет <%= @user.firstname %>.<br/>
</p>
<p>
  Вы нажимали "Forgot Password?" на сайте?
  Если вы этого не делали, проигнорируйте данное сообщение.
  Что бы изменить свой пароль пройдите по ссылке: <%= link_to @url, @url %>.
</p>
<p>Спасибо!</p>
</body>
</html>