<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Forgot password</h1>
<p>
  Hello <%= @user.firstname %>.<br/>
</p>
<p>
  Are you click "Forgot Password?" on site?
  If you was not it, ignore this message.
  To change your password, please click on the link: <%= link_to @url, @url %>.
</p>
<p>Thanks!</p>
</body>
</html>