<!-- Footer -->
<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; 2012-2013 Apps Bakery. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
